{% extends 'dummy.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content %}
    <center>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="npw"> Enter new-passsword</label>
            <input type="password" name="npw" id="">
            <br><br>
            <input type="submit" value="ChangePassword" class="btn btn-dark">
        </form>
    </center>
    {% endblock %}
</body>
</html>