{% extends 'dummy.html' %}



    {% block title %}
    <title>Login Page</title>
    {% endblock %}

    {% block content %}

    <center>
        <h1> login page</h1>

        <form  method="POST">

            {% csrf_token %}
            <label for="username">username</label>
            <input type="text" name="username" id="">
            <br><br>
            <label for="password">password</label>
            <input type="password" name="password" id="">
                <br><br>
                <input type="submit" value="user_login" class="btn btn-success">
        </form>

        
            </center>

            {%  endblock %}
    
